### We have Forti Firewall, Synology and Cisco Switches
modules:
  # Default IF-MIB interfaces table with ifIndex.
  if_mib_snmpgen:
    version: 1
    auth:
      community: '{{ snmp_switch_community }}'
    walk: [sysUpTime, interfaces, ifXTable]
    lookups:
      - source_indexes: [ifIndex]
        lookup: ifAlias
      - source_indexes: [ifIndex]
        lookup: ifDescr
      - source_indexes: [ifIndex]
        # Use OID to avoid conflict with Netscaler NS-ROOT-MIB.
        lookup: 1.3.6.1.2.1.31.1.1.1.1 # ifName
    overrides:
      ifAlias:
        ignore: true # Lookup metric
      ifDescr:
        ignore: true # Lookup metric
      ifName:
        ignore: true # Lookup metric
      ifType:
        type: EnumAsInfo

# Synology
#
# Synology MIBs can be found here:
#   http://www.synology.com/support/snmp_mib.php
#   http://dedl.synology.com/download/Document/MIBGuide/Synology_MIB_File.zip
#
# Tested on RS2414rp+ NAS
#
  synology_snmpgen:
    version: 3
    auth:
      username: '{{ snmp_synology_username }}'
      password: '{{ snmp_synology_password }}'
      security_level: authPriv
      auth_protocol: '{{ snmp_synology_auth_protocol }}'
      priv_protocol: '{{ snmp_synology_priv_protocol }}'
      priv_password: '{{ snmp_synology_priv_password }}'
    walk:
      - interfaces
      - sysUpTime
      - ifXTable
      - laNames
      - laLoadInt
      - ssCpuUser
      - ssCpuSystem
      - ssCpuIdle
      - memory
      - hrStorage
      - 1.3.6.1.4.1.6574.1       # synoSystem
      - 1.3.6.1.4.1.6574.2       # synoDisk
      - 1.3.6.1.4.1.6574.3       # synoRaid
      - 1.3.6.1.4.1.6574.4       # synoUPS
      - 1.3.6.1.4.1.6574.5       # synologyDiskSMART
      - 1.3.6.1.4.1.6574.6       # synologyService
      - 1.3.6.1.4.1.6574.101     # storageIO
      - 1.3.6.1.4.1.6574.102     # spaceIO
      - 1.3.6.1.4.1.6574.104     # synologyiSCSILUN
    lookups:
      - source_indexes: [spaceIOIndex]
        lookup: spaceIODevice
        drop_source_indexes: true
      - source_indexes: [storageIOIndex]
        lookup: storageIODevice
        drop_source_indexes: true
      - source_indexes: [serviceInfoIndex]
        lookup: serviceName
        drop_source_indexes: true
      - source_indexes: [ifIndex]
        # Use OID to avoid conflict with Netscaler NS-ROOT-MIB.
        lookup: 1.3.6.1.2.1.31.1.1.1.1 # ifName
        drop_source_indexes: true
      - source_indexes: [diskIndex]
        lookup: diskID
        drop_source_indexes: true
      - source_indexes: [raidIndex]
        lookup: raidName
        drop_source_indexes: true
      - source_indexes: [laIndex]
        lookup: laNames
        drop_source_indexes: true
      - source_indexes: [hrStorageIndex]
        lookup: hrStorageDescr
        drop_source_indexes: true
    overrides:
      ifType:
        type: EnumAsInfo


### Fortigate Defintion
  fortigate_snmpgen:
    version: 3
    auth:
      username: '{{ snmp_fortigate_username }}'
      password: '{{ snmp_fortigate_password }}'
      security_level: authPriv
      auth_protocol: '{{ snmp_fortigate_auth_protocol }}'
      priv_protocol: '{{ snmp_fortigate_priv_protocol }}'
      priv_password: '{{ snmp_fortigate_priv_password }}'
    walk:
      - ifXTable
      - fgVpn        
      - fgSystem        
      - fgIntf
      - fgInetProto
    lookups:
      - source_indexes: [ifIndex]
        lookup: ifName
        drop_source_indexes: true
